a {
    color: #00718e;
}

a .sidebar-navigation{
    color: #00718e;
}

.sidebar-tree a {
    color: #00718e !important; /* Sidebar links */
}

.sidebar-tree svg {
    color: #00718e !important; /* Normal arrow color */
}

/* Hide the TOC caption heading on the index page */
.toctree-wrapper > p.caption {
    display: none;
}

/* Style the custom TOC expander arrows */
.toctree-expander {
    color: #00718e; /* Your preferred color */
}

/* Optional: Hover effect */
.toctree-expander:hover {
    color: #005f73;
}


